<h1 style="@ElementStyle">-Child Component Text</h1>

<GrandChildComponent></GrandChildComponent>


@code{
    [CascadingParameter]
    public string ElementStyle { get; set; }
}

@*<input id="firstName" placeholder="Child Component Placeholder Text" />
    <input id="firstName" required="@Required" maxlength="@MaxLength"
        size="@Size" placeholder="@Placeholder" />

    <input id="firstName" @attributes="InputAttributes" value="@Value"/>

    @code{

        [Parameter]
        public Dictionary<string, object> InputAttributes { get; set; } =
            new Dictionary<string, object>()
            {
                {"required", "required" },
                {"placeholder", "Child Component Placeholder" },
                {"Size", "100" },
                {"maxlength", "15" }
            };

        [Parameter]
        public string Value { get; set; } = "Child Value";

        //[Parameter]
        //public string Required { get; set; } = "required";

        //[Parameter]
        //public string MaxLength { get; set; } = "15";

        //[Parameter]
        //public string Size { get; set; } = "25";

        //[Parameter]
        //public string Placeholder { get; set; } = "Child Component Placeholder";
    }*@