@page "/pc"

<button class="btn btn-primary" @onclick="IncrementCounter">
    Incerment Counter
</button>

<h1 style="@Style">Parent Component Text - @Counter</h1>
<CascadingValue Value="@Counter" Name="Counter" IsFixed="false">
    <CascadingValue Value="@Style" Name="ColorStyle" IsFixed="true">
        <CascadingValue Value="@BorderStyle" Name="BorderStyle" IsFixed="true">
            <ChildComponent></ChildComponent>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>


    @code{
        public string Style { get; set; } = "color:red";
        //public int EmployeeAge { get; set; } = 25;
        public string BorderStyle { get; set; } = "border:1px solid red";
        public int Counter { get; set; } = 0;

        private void IncrementCounter()
        {
            Counter++;
        }
    }



    @*<ChildComponent placeholder="Parent Component Placeholder Text" maxlength="100"
                            size="50" required="required">

            </ChildComponent>

        <ChildComponent InputAttributes="attributesFromParent" Value="Parent Value">

        </ChildComponent>

        @code{
            [Parameter]
            public Dictionary<string, object> attributesFromParent { get; set; } =
                  new Dictionary<string, object>()
                  {
                        {"required", "required" },
                        {"placeholder", "Parent Component Placeholder" },
                        {"Size", "50" },
                        {"maxlength", "5" },
                        {"someattribute", "somevalue" }
                   };
        }*@
